<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Add Contact</div>
        <div class="form-group list-group-item">
            <form name="add" ng-submit="addContact()">
                <fieldset>
                    <section>
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <input type="text" class="form-control capitalize" id="firstName" name="firstn" ng-model="contact.firstname" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <input type="text" class="form-control capitalize" id="lastName" name="lastn" ng-model="contact.lastname">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" ng-disabled = "add.$invalid" type="submit" value="Submit">
                        </div>
                    </section>
                </fieldset>
            </form>
            <div id="message">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>